*{
    margin: 0;
    padding: 0;
}

header {
    height: 75px;
    line-height: 75px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

}

.dailyOverview {
    border: 2px black solid;
}